# build output
dist
.contentlayer
.next

# dependencies
**/node_modules

# coverage
coverage

# turbo
.turbo

# vercel
.vercel

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*

# local env files
.env*.local
.env

# Cache
*.tsbuildinfo
